{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <h1>Your Transaction History</h1>
    <table class = "table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% if transactions %}
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>${{ transaction.price }}</td>
                    <td>{{ transaction.transacted_at }}</td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">No data available</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
