{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div>hii

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% if portfolio %}
                {% for stock in portfolio %}
                    <tr>
                        <td>{{ stock.symbol }}</td>
                        <td>{{ stock.name }}</td>
                        <td>{{ stock.shares }}</td>
                        <td>${{ stock.price }}</td>
                        <td>${{ stock.value }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">No data available</td>
                </tr>
            {% endif %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Cash</b></td>
                <td>${{ cash }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><b>TOTAL</b></td>
                <td>${{ total }}</td>
            </tr>
        </tbody>
    </table>
        </tbody>

    </table>


</div>
{% endblock %}